In [30]:
# Test different data format
import numpy as np
import pandas as pd
import os
import pickle



x = np.random.rand(100000, 2)

df = pd.DataFrame(x, columns=['x', 'y'])

In [31]:
%timeit df.to_pickle("test.pickle")
%timeit pd.read_pickle("test.pickle")

539 µs ± 38.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
428 µs ± 27 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [32]:
%timeit np.save("test.npy", x)
%timeit np.load("test.npy")

3.43 ms ± 121 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
437 µs ± 9.89 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [33]:
def tf():
    f = open("test.pickle", "wb")
    pickle.dump(x, f)
    f.close()

def rf():
    f = open("test.pickle", "rb")
    pickle.load(f)
    f.close()

%timeit tf()
%timeit rf()

1.7 ms ± 95.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
246 µs ± 14.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [34]:
%timeit df.to_csv('test.csv')
%timeit pd.read_csv('test.csv')

320 ms ± 8.03 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
40.5 ms ± 775 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [25]:
s0 = pd.read_pickle("test.pickle")
s1 = np.load("test.npy")
f = open("test.pickle", "rb")
s2 = pickle.load(f)
f.close()

s3 = pd.read_csv("test.csv")

In [28]:
print(x)

[[0.0279966  0.92450921]
 [0.918811   0.09919246]
 [0.97539216 0.35393516]
 ...
 [0.42397691 0.36200194]
 [0.92775406 0.2727583 ]
 [0.97324583 0.85087747]]

In [29]:
s2

            x         y
0    0.027997  0.924509
1    0.918811  0.099192
2    0.975392  0.353935
3    0.678275  0.270422
4    0.895940  0.360084
..        ...       ...
995  0.094825  0.465807
996  0.929882  0.320274
997  0.423977  0.362002
998  0.927754  0.272758
999  0.973246  0.850877

[1000 rows x 2 columns]